*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 58px;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
}

.section__heading {
  margin-top: 1em;
  padding: 1em;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 768px) {
  .section__heading {
    font-size: 5rem;
  }
}
.navbar {
  position: sticky;
  font-size: 2rem;
}
.navbar .navbar-brand {
  width: 8em;
  height: 4em;
  border-radius: 8px;
  overflow: hidden;
}
.navbar .navbar-brand img {
  width: 100%;
  height: 100%;
}
.navbar .nav-link {
  border-radius: 8px;
}
.navbar .nav-link:hover {
  background-color: #22a39f;
}
.navbar .dropdown-item {
  font-size: 2rem;
  transition: background-color 0.3s;
}
.navbar .dropdown-item:hover {
  background-color: #22a39f;
}
.navbar .navbar-toggler-icon {
  padding: 1.5em;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  height: 100svh;
  text-align: center;
  background-image: linear-gradient(45deg, rgba(35, 40, 45, 0.85), rgba(30, 35, 40, 0.85)), url("../img/shows-img/show-hero1-mini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header__heading {
  margin-top: -5em;
  margin-bottom: 1em;
  width: 18rem;
  height: 14rem;
  border-radius: 16px;
  box-shadow: 5px 5px 10px #000;
  overflow: hidden;
}
.header__heading-img {
  width: 100%;
  height: 100%;
}
.header__text {
  margin-bottom: 1em;
  font-size: 2rem;
}
.header__btn {
  padding: 0.5em;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #6c757d;
  text-decoration: none;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}
.header__btn:hover {
  background-color: #22a39f;
}

.aboutus__text {
  font-size: 2rem;
  text-align: center;
}
.aboutus__box-img {
  max-width: 100%;
}

.members {
  background-color: #434242;
}
.members .card {
  background-color: #434242;
  border: none;
}
.members .card h3 {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.members .card-text {
  font-size: 1.7rem;
}

.gallery__box-img {
  aspect-ratio: 16/9;
  transition: transform 0.3s;
}
.gallery__box-img:hover {
  transform: scale(1.05);
}

.contact {
  background-color: #434242;
}
.contact .form-label {
  font-weight: 700;
  text-transform: uppercase;
}
.contact__btn button {
  background-color: #6c757d;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.3s;
  cursor: pointer;
}
.contact__btn button:hover {
  background-color: #22a39f;
}
.contact__socials h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.contact__socials .fa-brands {
  font-size: 3rem;
}

.footer {
  background-color: #434242;
}
.footer hr {
  height: 3px;
}
.footer__text {
  padding: 2em;
  text-align: center;
}
.footer__text-link {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar {
    font-size: 3rem;
  }
  .navbar .navbar-brand {
    width: 8em;
    height: 4em;
  }
  .navbar .dropdown-item {
    font-size: 3rem;
  }
  .header__heading {
    margin-top: 0;
    margin-bottom: 2.5em;
    width: 20rem;
    height: 16rem;
  }
  .header__text {
    margin-bottom: 2em;
    font-size: 3rem;
  }
  .header__btn {
    font-size: 2rem;
  }
  .aboutus__text {
    font-size: 2rem;
  }
  .aboutus__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutus__box-img {
    max-width: 80%;
  }
  .members .card h3 {
    font-size: 3rem;
  }
  .members .card-text {
    font-size: 2.5rem;
  }
  .contact__socials h3 {
    font-size: 2.5rem;
  }
  .contact__socials .fa-brands {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .header {
    background-image: linear-gradient(45deg, rgba(35, 40, 45, 0.85), rgba(30, 35, 40, 0.85)), url("../img/shows-img/show-hero1-big.jpg");
  }
  .header__heading {
    width: 26rem;
    height: 22rem;
  }
  .header__text {
    margin-bottom: 1.5em;
    font-size: 4rem;
  }
  .header__btn {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=main.css.map */