@use './utilities/' as *;

// NAVIGATION

.navbar {
	position: sticky;
	font-size: 2rem;

	.navbar-brand {
		width: 8em;
		height: 4em;
		border-radius: 8px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.nav-link {
		border-radius: 8px;

		&:hover {
			background-color: $special-color;
		}
	}

	.dropdown-item {
		font-size: 2rem;
		transition: background-color 0.3s;

		&:hover {
			background-color: $special-color;
		}
	}

	.navbar-toggler {
		&-icon {
			padding: 1.5em;
		}
	}
}

// HEADER

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	height: 100svh;
	text-align: center;
	@include heroImg('../img/shows-img/show-hero1-mini.jpg');

	&__heading {
		margin-top: -5em;
		margin-bottom: 1em;
		width: 18rem;
		height: 14rem;
		border-radius: 16px;
		box-shadow: 5px 5px 10px $pure-black;
		overflow: hidden;

		&-img {
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		margin-bottom: 1em;
		font-size: 2rem;
	}

	&__btn {
		padding: 0.5em;
		font-size: 1.5rem;
		background-color: $boot-secondary;
		text-decoration: none;
		border-radius: 8px;
		text-transform: uppercase;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: $special-color;
		}
	}
}

// SECTION ABOUTUS

.aboutus {
	&__text {
		font-size: 2rem;
		text-align: center;
	}

	&__box {
		&-img {
			max-width: 100%;
		}
	}
}

// SECTION MEMBERS

.members {
	background-color: $alter-main-color;

	.card {
		background-color: $alter-main-color;
		border: none;

		h5 {
			font-size: 2.2rem;
			font-weight: 700;
			text-transform: uppercase;
		}

		&-text {
			font-size: 1.7rem;
		}
	}
}

// MEDIA QUERIES

@media (min-width: 768px) {
	// NAVIGATION

	.navbar {
		font-size: 3rem;

		.navbar-brand {
			width: 8em;
			height: 4em;
		}

		.dropdown-item {
			font-size: 3rem;
		}
	}

	// HEADER

	.header {
		&__heading {
			margin-top: 0;
			margin-bottom: 2.5em;
			width: 20rem;
			height: 16rem;
		}

		&__text {
			margin-bottom: 2em;
			font-size: 3rem;
		}

		&__btn {
			font-size: 2rem;
		}
	}

	// SECTION ABOUTUS

	.aboutus {
		&__text {
			font-size: 2rem;
		}

		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			&-img {
				max-width: 80%;
			}
		}
	}

	// SECTION MEMBERS

	.members {
		.card {
			h5 {
				font-size: 3rem;
			}

			&-text {
				font-size: 2.5rem;
			}
		}
	}
}

@media (min-width: 992px) {
	// HEADER

	.header {
		background-image: $hero-gradient, url('../img/shows-img/show-hero1-big.jpg');

		&__heading {
			width: 26rem;
			height: 22rem;
		}

		&__text {
			margin-bottom: 1.5em;
			font-size: 4rem;
		}

		&__btn {
			font-size: 2.5rem;
		}
	}
}
