$main-color: #222222;
$alter-main-color: #434242;
$text-color: #f3efe0;
$special-color: #22a39f;
$pure-white: #fff;
$pure-black: #000;
$hero-gradient: linear-gradient(45deg, rgba(35, 40, 45, 0.85), rgba(30, 35, 40, 0.85));
$boot-secondary: #6c757d;
