.section__heading {
	margin-top: 1em;
	padding: 1em;
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
}

@media (min-width: 768px) {
	.section__heading {
		font-size: 5rem;
	}
}
